<html>
	<body>	
	  <!DOCTYPE html>
	  <html lang="zxx">
		 <head>
			<title>cosmetics products</title>
			<!--meta tags -->
			
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="keywords" content="Jeweler Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
			   Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
			<script>
			   addEventListener("load", function () {
				   setTimeout(hideURLbar, 0);
			   }, false);
			   
			   function hideURLbar() {
				   window.scrollTo(0, 1);
			   }
			</script>
			<!--//meta tags ends here-->
			<!--booststrap-->
			<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
			<!--//booststrap end-->
			<!-- font-awesome icons -->
			<link href="/static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
			<!-- //font-awesome icons -->
			<!--stylesheets-->
			<link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all">
			<!--//stylesheets-->
			<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
			<link href="//fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
		 </head>
		 <body>
			<div class="header-outs" id="header">
			   <div class="header-w3layouts">
				  <!--//navigation section -->
				  <nav class="navbar navbar-expand-lg navbar-light">
					 <div class="hedder-up">
						<h1><a class="navbar-brand" href="/">Glossier.</a></h1>
					 </div>
					 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					 <span class="navbar-toggler-icon"></span>
					 </button>
					 <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
						<ul class="navbar-nav ">
						  
							<li class="nav-item">
							   <a href="/" class="nav-link">HOME</a>
							</li>
						</ul>
						  
						</div>
					 </div>
				  </nav>
				  <div class="clearfix"> </div>
			   </div>
         <!-- //Navigation -->
         <!--//headder-->
         <!-- banner -->
         <div class="inner_page-banner">
         </div>
         <!--//banner -->
         <!-- short -->
         <!-- //short-->
         <!--about-->
         <!--about-one-->
         <section class="about-inner py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
               <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Us</h3>
               <div class="row abt-inner-agile">
                  <div class="col-lg-9 col-md-9 abt-inner-left">
                     <div class="row">
                        <div class="col-lg-8 col-md-8 p-0">
                           <img src="images/g1.jpg" class="img-thumbnail" alt="">
                        </div>
                        <div class="col-lg-4 col-md-4 p-0">
                           <img src="images/g7.jpg" class="img-thumbnail" alt="">
                           <img src="images/g1.jpg" class="img-thumbnail" alt="">
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-4 col-md-4 p-0">
                           <img src="images/g2.jpg" class="img-thumbnail" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 text-center about-inner-mid">
                           <h4 class="mb-lg-4 mb-md-3 mb-3">Treat yourself better</h4>
                           <p>
                              Glossier is a new approach to beauty. It’s about fun and freedom and being OK with yourself today.
                               We make intuitive, uncomplicated products designed to live with you..
                               It's nice to meet you! Now that you're here, take a look around. Meet our products, see them in action, and let us know what you think.
                              </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3 abt-inner-left p-0">
                     <img src="images/2.jpg" class="img-thumbnail" alt="">
                  </div>
               </div>
            </div>
         </section>
         <!--//about-->
         <!--States-->
         <section class="about-inner-counter py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
               <div class="stats-info row ">
                  <div class="col-lg-4 col-md-4 col-sm-4 stats-grid stats-grid-1">
                     <div class="register-left-agile">
                        <div class="counter">1200</div>
                        <div class="stat-info py-lg-3 py-md-3 py-sm-3 py-3">
                           <h4>Products</h4>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 stats-grid stats-grid-2">
                     <div class="register-left-agile">
                        <div class="counter">4000</div>
                        <div class="stat-info py-lg-3 py-md-3 py-sm-3 py-3">
                           <h4>Designs</h4>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 stats-grid stats-grid-3">
                     <div class="register-left-agile">
                        <div class="counter">500</div>
                        <div class="stat-info py-lg-3 py-md-3 py-sm-3 py-3">
                           <h4>Customers</h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--//States-->
         <!-- clients -->
         <section class="blog py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
               <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">welcome to Glossier!</h3>
               <div class="row blog-top-grids">
                  <div class="col-lg-6 left-side-agile top-client-gap">
                     
                           
                              <img src="/static/images/t1.jpg" alt="" class="image-fluid">
                          
      
                       
                     </div>
                  </div>
                 
               <div class="row blog-top-grids">
                  <div class="col-lg-6 left-side-agile top-client-two">
                     <div class="least-w3layouts-text-gap">
                        
                           <div class=" col-md-4 col-sm-4 col-4 news-img">
                              <img src="/static/images/t3.jpg" alt="" class="image-fluid">
                           
                  
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 left-side-agile top-client-gap">
                     <div class="least-w3layouts-text-gap">
                        
                           <div class=" col-md-4 col-sm-4 col-4 news-img">
                              <img src="/static/images/t4.jpg" alt="" class="image-fluid">
                           
         
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--//clients -->
         <!-- Modal 1-->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div class="register-form">
                        <form action="#" method="post">
                           <div class="fields-grid">
                              <div class="styled-input">
                                 <input type="text" placeholder="Your Name" name="Your Name" required="">
                              </div>
                              <div class="styled-input">
                                 <input type="email" placeholder="Your Email" name="Your Email" required="">
                              </div>
                              <div class="styled-input">
                                 <input type="password" placeholder="password" name="password" required="">
                              </div>
                              <button type="submit" class="btn-block mb-3">Sign In</button>
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <div class="sing-up-jeweler">
                        <a href="#" class="text-left" data-toggle="modal" data-target="#myModal3"> Don't Have an Account...?</a>
                     </div>
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- //Modal 1-->
         <!-- Modal2 -->
         <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
            <div class="modal-dialog">
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-header_w3layouts_agile">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <div class="signin-form profile">
                        <div class="register-form">
                           <h3 class="sign">Sign Up</h3>
                           <div class="login-form">
                              <form action="#" method="post">
                                 <input type="text" name="name" placeholder="Name" required="">
                                 <input type="email" name="email" placeholder="Email" required="">
                                 <input type="password" name="password" placeholder="Password" id="password" required="">
                                 <input type="password" placeholder="Confirm Password" id="confirm_password" required>
                                 <button type="submit" class="btn-block mb-3">Sign Up</button>
                              </form>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- //Modal2 -->
         <!--Footer -->
         {% include 'footer.html' %}
         <!-- //Footer -->
         <!--js working-->
         <script src='js/jquery-2.2.3.min.js'></script>
         <!--//js working-->
         <!--About OnScroll-Number-Increase-JavaScript -->
         <script src="js/jquery.waypoints.min.js"></script>
         <script src="js/jquery.countup.js"></script>
         <script>
            $('.counter').countUp();
         </script>
         <!-- //OnScroll-Number-Increase-JavaScript -->
         <!-- start-smoth-scrolling -->
         <script src="js/move-top.js"></script>
         <script src="js/easing.js"></script>
         <script>
            jQuery(document).ready(function ($) {
               $(".scroll").click(function (event) {
                  event.preventDefault();
                  $('html,body').animate({
                     scrollTop: $(this.hash).offset().top
                  }, 900);
               });
            });
         </script>
         <!-- start-smoth-scrolling -->
         <!-- here stars scrolling icon -->
         <script>
            $(document).ready(function () {
            
               var defaults = {
                  containerID: 'toTop', // fading element id
                  containerHoverID: 'toTopHover', // fading element hover id
                  scrollSpeed: 1200,
                  easingType: 'linear'
               };
            
            
               $().UItoTop({
                  easingType: 'easeOutQuart'
               });
            
            });
         </script>
         <!-- //here ends scrolling icon -->
         <!--bootstrap working-->
         <script src="js/bootstrap.min.js"></script>
         <!-- //bootstrap working-->
      </body>
   </html>