<style type="text/css">
	html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
    color: white
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #0f0f0f;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

</style>




{% include 'adminheader.html'%}

  <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/static/img/carousel-1.jpg" alt="Image" height="1100">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 1000px;">
<center>
<h1>Manage Staff</h1>
<form method="post">
	{% if data['staffupdate'] %}
	<table class="table" style="width:500px;color: white;background-color: #000000;">
		<tr>
			<th>First Name</th>
			<td><input type="text" required="" class="form-control" value="{{data['staffupdate'][0]['staff_fname']}}"  name="fname"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" required="" class="form-control" value="{{data['staffupdate'][0]['staff_lname']}}" name="lname"></td>
		</tr>
		<tr>
			<th>Gender</th>
			<td><input type="radio" required=""  class="btn btn-success" name="gen" value="female">Female
			<input type="radio" required="" class="btn btn-success" name="gen" value="male">male
			<input type="radio" required=""  class="btn btn-success" name="gen" value="other">Others</td>
		</tr>
			<tr>
			<th>Date</th>
			<td><input type="date" required="" class="form-control" value="{{data['staffupdate'][0]['staff_dob']}}"  name="date"></td>
		</tr>

		<tr>
			<th>House Name</th>
			<td><input type="text" required="" class="form-control" value="{{data['staffupdate'][0]['staff_house_name']}}"  name="hno"></td>
		</tr>

<tr>
			<th>Street</th>
			<td><input type="text" required="" class="form-control"  value="{{data['staffupdate'][0]['staff_street']}}"  name="street"></td>
		</tr>

		<tr>
			<th>District</th>
			<td><input type="text" required="" class="form-control" value="{{data['staffupdate'][0]['staff_dist']}}"  name="district"></td>
		</tr>

		<tr>
			<th>State</th>
			<td><input type="text" required="" class="form-control" value="{{data['staffupdate'][0]['staff_state']}}" name="state"></td>
		</tr>

		<tr>
			<th>Pincode</th>
			<td><input type="text" required="" pattern="[0-9]{6}" value="{{data['staffupdate'][0]['staff_pincode']}}" class="form-control"name="pin" maxlength="6"></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" required="" pattern="[0-9]{10}" value="{{data['staffupdate'][0]['staff_phone']}}"  class="form-control" name="num" maxlength="10"></td>
		</tr>
		

	
		
		
		
		

		<td align="center" colspan="2"><input type="submit" name="update" value="submit" class="btn btn-success"></td>
	</table>
{% else %}
	<table class="table" style="width:500px;color: white">
		<tr>
			<th>First Name</th>
			<td><input type="text" required="" class="form-control" name="fname" pattern="[A-Z a-z]+$" ></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" required="" class="form-control" name="lname" pattern="[A-Z a-z]+$" ></td>
		</tr>
		<tr>
			<th>Gender</th>
			<td><input type="radio" required=""  class="btn btn-success" name="gen" value="female">Female
			<input type="radio" required="" class="btn btn-success" name="gen" value="male">male
			<input type="radio" required=""  class="btn btn-success" name="gen" value="other">Others</td>
		</tr>
<tr>
			<th>Dob</th>
			<td><input type="date" id="myDate" max="{{data['today']}}" required="" class="form-control" name="date"></td>
		</tr>

		<tr>
			<th>House Name:</th>
			<td><input type="text" required="" class="form-control" name="hno" pattern="[A-Z a-z]+$" ></td>
		</tr>

		<tr>
			<th>Street</th>
			<td><input type="text" required="" class="form-control" name="street" pattern="[A-Z a-z]+$" ></td>
		</tr>
		<tr>
			<th>District</th>
			<td><input type="text" required="" class="form-control" name="district" pattern="[A-Z a-z]+$" ></td>
		</tr>
		<tr>
			<th>State</th>
			<td><input type="text" required="" class="form-control"  name="state" pattern="[A-Z a-z]+$" ></td>
		</tr>

		<tr>
			<th>Pincode</th>
			<td><input type="text" required="" pattern="[0-9]{6}" max="6" class="form-control" name="pin"></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" required="" pattern="[0-9]{10}" max="10" class="form-control" name="num"></td>
		</tr>
		
		
		
		

		<tr>
			<th>User Name</th>
			<td><input type="email" required="" class="form-control"  name="uname"></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" required="" class="form-control" name="pwd"></td>
		</tr>
		<td align="center" colspan="2"><input type="submit" name="staffreg" value="submit" class="btn btn-success"></td>
	</table>
{% endif %}
</form>



</center>

  </div></div></div></div></div></div>

<center>
	<h1>VIEW STAFF</h1>
	<form>
		<table class="styled-table">
			<thead>
		<tr>
				<th>slno</th>
			   <th>First Name</th>
				<th>Last Name</th>
				<th>Gender</th>
				<th>DOB</th>
				 <th>House Name</th>
				  <th>Street</th>
				<th>District</th>
				<th>State</th>
				<th>Pincode</th>
				<th>Phone</th>
				<th>STATUS</th>
				<th>UPDATE</th>
		</tr>
		</thead>
			{% for row in data['staffview']%}
			<tbody>
    	<tr>
    		<td>{{loop.index}}</td>
    		<td>{{row['staff_fname'] }}</td>
    		<td>{{row['staff_lname']}}</td>
    		<td>{{row['staff_gender']}}</td>
    		<td>{{row['staff_dob'] }}</td>
    		<td>{{row['staff_house_name'] }}</td>
    		<td>{{row['staff_street'] }}</td>
    	
    		<td>{{row['staff_dist'] }}</td>
    		<td>{{row['staff_state']}}</td>
    		<td>{{row['staff_pincode'] }}</td>
    		<td>{{row['staff_phone'] }}</td>
    		


    	{% if row['status']=='1' %}

       <td><a  class="btn btn-danger" href="?action=inactive&uid={{row['username']}}">Inactive</a></td>

     {% elif row['status']=='0'%}
    			<td><a class="btn btn-success" href="?action=active&uid={{row['username']}}">Active</a></td>
    		{% endif %}
    		   <td><a class="btn btn-success" href="?action=update&uid={{row['username']}}">Update</a></td>
    	</tr>
    	{% endfor %}
		</tbody>
   
		</table>
	</form>
</center>


<script>
	var today = new Date().toISOString().split('T')[0];
	document.getElementById("myDate").setAttribute("max", today);
  </script>
  {% include 'footer.html'%}