<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<a href="admin_managestaff">Manage Staff</a>
<a href="admin_managevendor">Manage Vendor</a>
<a href="admin_managecourier">Manage Courier</a>
<a href="admin_managecategory">Manage Category</a>
<a href="admin_managesubcategory">Manage Subcategory</a>
<a href="admin_managecolor">Manage Color</a>
<a href="admin_managebrand">Manage Brand</a>
<a href="admin_manageitem">Manage Item</a>
<a href="admin_managepurchase">Manage Purchase</a>
<a href="admin_viewbooking">View Boooking</a>
<a href="admin_viewpurchase">View Complaint</a>
<a href="admin_viewcustomer">View Customer</a>
<a href="admin_managereport">Manage Report</a>
<a href="/">Logout</a>
 -->
 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>online Whole Sale</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white pr-3" href="">FAQs</a>
                        <span class="text-white">|</span>
                        <a class="text-white px-3" href="">Help</a>
                        <span class="text-white">|</span>
                        <a class="text-white pl-3" href="">Support</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-white pl-3" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 text-secondary"><span class="text-primary">Whole </span> Sale</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="admin_home" class="nav-item nav-link active">Home</a>
                        <a href="admin_managestaff" class="nav-item nav-link">Manage Staff</a>
                         <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Manage</a>
                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                <a href="admin_managevendor" class="dropdown-item"> Vendor</a>
                                <a href="admin_managecourier" class="dropdown-item"> Courier</a>
                                 <a href="admin_managecategory" class="dropdown-item"> Category</a>
                                  <a href="admin_managesubcategory" class="dropdown-item"> Subcategory</a>
                                   <a href="admin_managecolor" class="dropdown-item"> Color</a>
                                    <a href="admin_managebrand" class="dropdown-item"> Brand</a>
                                    <a href="admin_manageitem"  class="dropdown-item">Item</a>
                                    <a href="admin_managepurchase"  class="dropdown-item">Purchase</a>
                            </div>
                        </div>
                       
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Views</a>
                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                <a href="admin_viewbooking" class="dropdown-item">Oders</a>
                                <a href="admin_viewpurchase" class="dropdown-item">Purchase report</a>
                                 <a href="admin_viewcustomer" class="dropdown-item">Customer</a>
                                
                            </div>
                        </div>

                           <a href="admin_managereport" class="nav-item nav-link">Manage Report</a>

                        <a href="/" class="nav-item nav-link">logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->






