
{% include 'adminheader.html'%}

  <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/static/img/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">
<center>
	<h1>Send reply</h1>
	<form method="post">
		<table class="table" style="width: 500px">
			<tr>
				<th>reply</th>
				<td style="color: black"><input type="text" class="form-control"  required="" name="rep"></td>
			</tr>
			<tr>
				<td   align="center" colspan="2"><input type="submit" class="btn btn-success" name="reply" value="submit"></td>
			</tr>
		</table>
	</form>
</center>

	</div></div></div></div></div></div>
{% include 'footer.html'%}