{% include 'adminheader.html'%}

<style type="text/css">

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 200px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
        
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        color: white
    }
    
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
    
    </style>
    
   <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/static/img/carousel-1.jpg" alt="Image" style="height: 200px">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            </div></div></div></div></div></div>
    <center>
        
        <h1 style="color: white">view purchase</h1>
        <a href="purchasereport" class="btn btn-success">print</a>
        <form>
                <table class="styled-table">
        <thead>
        <tr>
                <th>sino</th>
                 
                <th>Name</th>
                <th>Description</th>
                <th>vendor</th>
                <th>product Image</th>
                <!-- <th>profit %</th> -->
                <th>Selling Price</th>
                <th>cost price</th>
                <th>quantity</th>
                    
            </tr>

        </thead>
            {% for row in data['purchaseview']%}
        <tr>
            <tbody>

            <td>{{loop.index}}</td>
            
            <td>{{row['product_name']}}</td>
            <td>{{row['product_description'] }}</td>
            <td>{{row['vendor_id'] }}</td>
            <td><img src="/{{row['product_image'] }}" height="100" width="100"></td>
            <!-- <td>{{row['pro_per']}}</td> -->
            <td>{{row['selling_price']}}</td>
            <td>{{row['cost_price'] }}</td>
            <td>{{row['quantity'] }}</td>
        
            {% endfor %}            
        </tr>

    </tbody>
		</table>
    
	</form>
</center>

</tr></table></form></center></div></section>
{% include 'footer.html'%}