{% include 'customerheader.html'%}
  <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/static/img/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">

<script type="text/javascript">
	function TextOnTextChange()
	{
		var x =document.getElementById("p_amount").value;
		var y =document.getElementById("p_qnty").value;
		document.getElementById("t_amount").value = x * y;
	}

</script> 
<center>
<h1>Add To Cart</h1>
<form method="post" enctype="multipart/form-data">

	<table class="table" style="width:500px;color: white">

		<tr>
			
			<td align="center" colspan="2"><img src="/{{data['pimg']}}"   width="100" height="100"></td>
		</tr>
		<tr>
			<th>Product Name</th>
			<td><input type="text" required="" value="{{data['pname']}}" readonly class="form-control" name="fname"></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><textarea name="dis" required=""  readonly  class="form-control">{{data['pdis']}}</textarea></td>
		</tr>
		
		<tr>
			<th>Amount</th>
			<td><input type="number" required=""readonly class="form-control" value="{{data['pamo']}}" readonly=""  id="p_amount" name="amount"></td>
		</tr>

		
		<tr>
			<th>quantity</th>
			<td><input type="number" required="" min="1" class="form-control"  id="p_qnty" onchange="TextOnTextChange()" name="quantity"></td>
		</tr>
		<tr>
			<th>Total</th>
			<td><input type="number" required="" readonlyclass="form-control" readonly="" id="t_amount" name="total"></td>
		</tr>
		
		<td align="center" colspan="2"><input type="submit" name="cart" value="submit" class="btn btn-success"></td>
	</table>

</form>
</center>

	</div></div></div></div></div></div>

{% include 'footer.html'%}
