{% include 'customerheader.html'%}
  <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/static/img/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">

<center>
<h1>Make Payment</h1>
<form method="post">

	<table class="table" style="width:500px;color: white">
		<tr>
			<th>Card Number</th>
			<td><select name="card" class="form-control">
				<option>Select</option>
				{% for row in data['carddrop']%}
				<option value="{{row['card_id']}}">{{row['card_no']}}</option>
				{% endfor %}
			</select></td>

			<td><a class="btn btn-success" href="customer_addcard">Add card</a></td>
		</tr>
		
		<tr>
			<th>C V V</th>
			<td><input type="password" required="" pattern="[0-9]{3}" maxlength="3" class="form-control" name="cvv"></td>
		</tr>
	<tr>
		<th>Amount</th>
		<td><input type="text" class="form-control" value="{{data['amt']}}" name="amo"></td>
	</tr>
		
		<tr>
		<td align="center" colspan="2"><input type="submit" name="payment" value="submit" class="btn btn-success"></td>
		</tr>
	</table>

</form>
</center>

	</div></div></div></div></div></div>
{% include 'footer.html'%}