<script>
    function displayDateTime() {
      var today = new Date();
      var date = today.toDateString();
      var time = today.toLocaleTimeString();
      document.getElementById("datetime").innerHTML = date + " " + time;
    }
  </script>


<body onload="printDiv()">
    <div id="div_print" >
        <center>
            <link rel="stylesheet" href="static/assets/css/style-starter.css">
            <font style="font-family:times new roman">
            <h1 style="color: #3ccadd;"><b>Whole Sale.<b></h1>
                <p>
                    Whole Sale,
                    near kochi,
                    kerala 682017 <br><br>
                          <strong>Phone:</strong> +917897624325<br> 
                          <strong>Email:</strong> WholeSale@mail.com<br> 
                        </p> 
            <h1 style="padding-top: 30px;font-size: 60px;">PURCHASE REPORT</h1><br>`
            <!-- <h1>View Sales</h1> -->
<table border=1 class="table table-secondary table-striped " style="width: 1000px;color: black;background:white;opacity: 0.85;">
    <tr align="left">
		
        <th>sino</th>
                 
        <th>Name</th>
        <th>Description</th>
        <th>purchase Image</th>
        <th>Selling Price</th>
        <th>cost price</th>
        <th>quantity</th>
                
                
            </tr>
            
                {% for row in data['purview']%}
               
	<tr>
		<td>{{loop.index}}</td>
            
            <td>{{row['product_name']}}</td>
            <td>{{row['product_description'] }}</td>
            <td><img src="/{{row['product_image'] }}" height="100" width="100"></td>
            <td>{{row['selling_price']}}</td>
            <td>{{row['cost_price'] }}</td>
            <td>{{row['quantity'] }}</td>
            
            </tr>
            {% endfor %}
        </table>
    </center>
    </div>
    </body>
<script> 
    function printDiv() { 
      var divContents = document.getElementById("div_print").innerHTML; 
      var a = window.open('', '', 'height=500, width=500'); 
      a.document.write(divContents); 
      a.document.close(); 
      a.print(); 
    } 
  </script>