{% include 'staffheader.html'%}

<style type="text/css">
    
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
    color: white
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

</style>

  <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/static/img/carousel-1.jpg" alt="Image" style="height: 200px">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            </div></div></div></div></div></div>
<center>
    <h1 style="color: white">view Orders</h1>
    <form>
            <table class="styled-table">
    <thead>
            <tr>
                <th>sino</th>
                
                <th>SubCategory</th>
                <th>customer name</th>
                <th>Color</th>
                <th>Brand</th>
                <th>Name</th>
                <th>Description</th>
                <th>order date</th>
                <th> Image</th>
                <th> price</th>
                <th>quantity</th>
                <th>Status</th>
                <th>Payment</th>
                <th>Courier</th>
                
                
            </tr>
        </thead>
            {% for row in data['bookingview']%}
        <tr>

             <tbody>
            <td>{{loop.index}}</td>
            
            <td>{{row['subcategory_name'] }}</td>
            <td>{{row['customer_fname'] }}</td>
            <td>{{row['color_name']}}</td>
            <td>{{row['brand_name']}}</td>
            <td>{{row['product_name']}}</td>
            <td>{{row['product_description'] }}</td>
            <td>{{row['date'] }}</td>
            <td><img src="/{{row['product_image'] }}" height="100" width="100"></td>
            <td>{{row['total_price']}}</td>
            
            <td>{{row['quantity'] }}</td>
            <td>{{row['order_status']}}</td>
            
            <td><a class="btn btn-success" href="staff_viewpayment?oid={{row['order_master_id']}}">View Payment</a></td>
            
            
            {% if row['order_status']=="Paid"%}
            <td><a href="staff_assign?oid={{row['order_master_id']}}">ASSIGN COURIER</a></td>

            {% endif %}
            
   
            
        </tr>
        {% endfor %}
    </tbody>
   
        </table>
    </form>
</center>

</tr></table></form></center></div></section>
{% include 'footer.html'%}