{% include 'staffheader.html'%}


<style type="text/css">
	
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
    color: white
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

</style>


 <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 700px;">
    <div class="hero-container">


<br><br><br><br><br><br>
<center>
	<h1 style="color: white">view complaint</h1>
	<form>
			<table class="styled-table">
    <thead>
			<tr>
				<th>sino</th>
				
				
				<th>Name</th>
				<th>Complaint</th>
				<th>date</th>
				<th>Reply</th>
				
				
			</tr>
		</thead>
			{% for row in data['complaintview']%}

			 <tbody>
    	<tr>
    		<td>{{loop.index}}</td>
    		<td>{{row['customer_fname']}}</td>
    		<td>{{row['complaint'] }}</td>
    		
    		<td>{{row['date']}}</td>
    		{% if row['reply']=="pending"%}
    		<td><a href="staff_sendreply?cid={{row['complaint_id']}}">Send Reply</a></td>
    		{% else %}

    		<td>{{row['reply']}}</td>
    		{% endif %}
    		
    	      
    		
    	</tr>
    	{% endfor %}
    </tbody>
   
		</table>
	</form>
</center>
</div>></section>
{% include 'footer.html'%}